@{
    ViewData["Title"] = "Logged Out";
}

<div class="text-center mt-5">
    <h2>We've logged out.</h2>
    <h2>Get back soon! :) You can always log back in!</h2>
    <p>Thank you for using Game Platform RWA.</p>
    <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Log in again</a>
</div>
