/****** Object:  Database [gameplatformrwa]    Script Date: 19.6.2025. 11:37:54 ******/
/****** Object:  Table [dbo].[Game]    Script Date: 19.6.2025. 11:37:54 ******/

CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ReleaseDate] [date] NULL,
	[GameUrl] [nvarchar](255) NULL,
	[GameTypeId] [int] NOT NULL,
	[MetacriticScore] [int] NULL,
	[WonGameOfTheYear] [bit] NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameGenre]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameGenre](
	[GameId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
	[AddedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameType]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogEntry]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogEntry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Level] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[Rating] [int] NULL,
	[ReviewText] [nvarchar](2000) NULL,
	[Approved] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Review_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19.6.2025. 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PwdHash] [nvarchar](256) NULL,
	[PwdSalt] [nvarchar](256) NULL,
	[FirstName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[Phone] [nvarchar](256) NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([Id], [Name], [Description], [ReleaseDate], [GameUrl], [GameTypeId], [MetacriticScore], [WonGameOfTheYear], [ImageUrl], [ImagePath]) VALUES (3, N'Stardew Valley', N'Relaxing farming sim', CAST(N'2016-02-26' AS Date), N'http://example.com/stardew', 3, NULL, NULL, NULL, NULL)
INSERT [dbo].[Game] ([Id], [Name], [Description], [ReleaseDate], [GameUrl], [GameTypeId], [MetacriticScore], [WonGameOfTheYear], [ImageUrl], [ImagePath]) VALUES (14, N'God of War', N'Kratos makes an epic comeback as The Nine Realms'' greatest dad.
', CAST(N'2021-07-07' AS Date), N'https://www.ign.com/games/god-of-war', 1, 10, 1, N'https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d52751ffabb7b7_1200x1600-fbdf3cbc2980749091d52751ffabb7b7', NULL)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
INSERT [dbo].[GameGenre] ([GameId], [GenreId], [AddedOn]) VALUES (2, 1, NULL)
INSERT [dbo].[GameGenre] ([GameId], [GenreId], [AddedOn]) VALUES (2, 3, CAST(N'2025-06-11T15:30:50.767' AS DateTime))
INSERT [dbo].[GameGenre] ([GameId], [GenreId], [AddedOn]) VALUES (2, 4, NULL)
GO
SET IDENTITY_INSERT [dbo].[GameType] ON 

INSERT [dbo].[GameType] ([Id], [Name]) VALUES (3, N'Co-operation')
INSERT [dbo].[GameType] ([Id], [Name]) VALUES (8, N'FPS')
INSERT [dbo].[GameType] ([Id], [Name]) VALUES (10, N'Kids')
SET IDENTITY_INSERT [dbo].[GameType] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Id], [Name]) VALUES (9, N'3rd Person')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (1, N'Action')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (2, N'Adventure')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[LogEntry] ON 

INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (1, CAST(N'2025-05-02T20:40:22.793' AS DateTime), N'Info', N'GetAllGames requested. Success')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2, CAST(N'2025-05-02T20:40:39.400' AS DateTime), N'Info', N'Found ''1'' games with genre id=1.')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (3, CAST(N'2025-05-02T20:40:44.900' AS DateTime), N'Info', N'Found ''1'' games with genre id=4.')
GO
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2341, CAST(N'2025-06-09T16:51:01.157' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
InternalDbSet`1 -> IEnumerable`1
Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2346, CAST(N'2025-06-09T16:51:07.067' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
InternalDbSet`1 -> IEnumerable`1
Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2350, CAST(N'2025-06-09T16:51:10.320' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
InternalDbSet`1 -> IEnumerable`1
Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2357, CAST(N'2025-06-09T16:53:34.513' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
InternalDbSet`1 -> IEnumerable`1
Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2401, CAST(N'2025-06-09T17:01:53.137' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
InternalDbSet`1 -> IEnumerable`1
Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2409, CAST(N'2025-06-09T17:04:34.093' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
InternalDbSet`1 -> IEnumerable`1
Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
GO
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2420, CAST(N'2025-06-09T17:08:51.710' AS DateTime), N'Error', N'Failed to get all genres. Error: Error mapping types.

Mapping types:
List`1 -> IEnumerable`1
System.Collections.Generic.List`1[[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.GenreDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
GO
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2536, CAST(N'2025-06-09T17:45:16.993' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Collections.Generic.ICollection`1[[GamePlatformBL.Models.Review, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2541, CAST(N'2025-06-09T17:47:17.507' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Collections.Generic.ICollection`1[[GamePlatformBL.Models.Review, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2546, CAST(N'2025-06-09T17:50:13.803' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2554, CAST(N'2025-06-09T17:52:55.880' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Collections.Generic.ICollection`1[[GamePlatformBL.Models.Review, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2559, CAST(N'2025-06-09T17:58:04.717' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Collections.Generic.ICollection`1[[GamePlatformBL.Models.Review, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2564, CAST(N'2025-06-09T17:59:53.583' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Collections.Generic.ICollection`1[[GamePlatformBL.Models.Review, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2569, CAST(N'2025-06-09T18:01:24.330' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[System.Collections.Generic.ICollection`1[[GamePlatformBL.Models.Review, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
INSERT [dbo].[LogEntry] ([Id], [Timestamp], [Level], [Message]) VALUES (2574, CAST(N'2025-06-09T18:02:59.670' AS DateTime), N'Error', N'Failed to get all games. Error: Error mapping types.

Mapping types:
IncludableQueryable`2 -> IEnumerable`1
Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions+IncludableQueryable`2[[GamePlatformBL.Models.Game, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[GamePlatformBL.Models.Genre, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[GamePlatformBL.DTOs.SimpleGameDto, GamePlatformBL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]')
GO
SET IDENTITY_INSERT [dbo].[LogEntry] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([UserId], [GameId], [Rating], [ReviewText], [Approved], [CreatedAt], [Id]) VALUES (6, 2, 4, N'The game sucks!! Getting paired up with noobs all the time!!', 1, CAST(N'2025-06-03T16:46:27.793' AS DateTime), 9)
INSERT [dbo].[Review] ([UserId], [GameId], [Rating], [ReviewText], [Approved], [CreatedAt], [Id]) VALUES (6, 2, 10, N'Best game in the world!', 1, CAST(N'2025-06-03T16:46:43.867' AS DateTime), 10)
INSERT [dbo].[Review] ([UserId], [GameId], [Rating], [ReviewText], [Approved], [CreatedAt], [Id]) VALUES (6, 11, 9, N'A must play!!!', 1, CAST(N'2025-06-04T18:31:53.120' AS DateTime), 12)
INSERT [dbo].[Review] ([UserId], [GameId], [Rating], [ReviewText], [Approved], [CreatedAt], [Id]) VALUES (6, 2, 3, N'not great
', 1, CAST(N'2025-06-09T00:00:00.000' AS DateTime), 23)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Username], [Email], [PwdHash], [PwdSalt], [FirstName], [LastName], [Phone], [RoleId]) VALUES (3, N'admin', N'admin@example.com', NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[User] ([Id], [Username], [Email], [PwdHash], [PwdSalt], [FirstName], [LastName], [Phone], [RoleId]) VALUES (4, N'mikica', N'mikica.mikic@gmail.com', N'ADVaFzrr7oE7c1KvO0Z9Hl0gcs3wIruah+3QO6YXhJw=', N'IZb+EMvW0zL4x6IIcLH/zA==', N'Miki', N'Mikic', N'091283948', 1)
INSERT [dbo].[User] ([Id], [Username], [Email], [PwdHash], [PwdSalt], [FirstName], [LastName], [Phone], [RoleId]) VALUES (5, N'pero', N'peroperic@gmail.com', N'3GknaziDh8e2SvP66Lxm0mx1Je1SHi4xE26AnMAU+mo=', N'pDoOJmJdlLxUvzvOFKzCsw==', N'Pero', N'Peric', N'09119348958', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GameType__737584F6BF937875]    Script Date: 19.6.2025. 11:37:54 ******/
ALTER TABLE [dbo].[GameType] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Genre__737584F64F8969AC]    Script Date: 19.6.2025. 11:37:54 ******/
ALTER TABLE [dbo].[Genre] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F644B8F56B]    Script Date: 19.6.2025. 11:37:54 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E40970FDE3]    Script Date: 19.6.2025. 11:37:54 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D1053452E22120]    Script Date: 19.6.2025. 11:37:54 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((0)) FOR [WonGameOfTheYear]
GO
ALTER TABLE [dbo].[GameGenre] ADD  DEFAULT (getdate()) FOR [AddedOn]
GO
ALTER TABLE [dbo].[LogEntry] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [Approved]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((2)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD FOREIGN KEY([GameTypeId])
REFERENCES [dbo].[GameType] ([Id])
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_GameType] FOREIGN KEY([GameTypeId])
REFERENCES [dbo].[GameType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_GameType]
GO
ALTER TABLE [dbo].[GameGenre]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenre]  WITH CHECK ADD FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD CHECK  (([MetacriticScore]>=(0) AND [MetacriticScore]<=(100)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(10)))
GO