@model GamePlatformBL.ViewModels.PagedGameViewModel;

<div class="container mt-5">

    @if (Model.Games == null || !Model.Games.Any())
    {
        <h2 class="text-danger">No games for you</h2>
        <p>Looks like we do not have any games! Whoops!</p>
    } else {
        <h2 class="text-danger">All Games</h2>

        <div class="text-center my-4">
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger mx-2">Go back to Home page</a>
        </div>

        <div id="gamesContainer">
            @await Html.PartialAsync("_GameCardsPartial", Model)
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function loadGames(page) {
                $('#loadingSpinner').show();
                $('#gamesContainer').hide();

                $.ajax({
                    url: `/GameList/GetGamesAjax?page=${page}`,
                    type: 'GET',
                    success: function (html) {
                        $('#gamesContainer').html(html).fadeIn();
                        bindPaginationButtons();
                    },
                    error: function () {
                        alert("Failed to load games.");
                    },
                    complete: function () {
                        $('#loadingSpinner').hide();
                    }
                });
            }

            function bindPaginationButtons() {
                $(".filtered-page-btn").off("click").on("click", function (e) {
                    e.preventDefault();
                    const page = $(this).data("page");
                    loadGames(page)
                });
            }

            bindPaginationButtons();
        });
    </script>
}

