@model List<WebApp.ViewModels.GameGenreViewModel>
@{
    ViewData["Title"] = "Manage Game Genres";
}
<h2 class="text-danger">Game Types</h2>
<a class="btn btn-outline-light mb-3" asp-action="Create">Create New Game Genre</a>
<table class="table table-dark table-bordered">
    <thead>
        <tr><th>Name</th><th>Actions</th></tr>
    </thead>
    <tbody>
        @foreach (var type in Model)
        {
            <tr>
                <td>@type.Name</td>
                <td>
                    <a asp-action="Create" asp-route-id="@type.Id" class="btn btn-sm btn-outline-warning">Edit</a>
                    <form method="post" asp-action="Delete" asp-route-id="@type.Id" class="d-inline" onsubmit="return confirm('Are you sure?');">
                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>